body {
    background-color: lightcyan;
}

h1 {
    padding: 36px;;
    color: #800000;
    font-family: SansSerif, sans-serif;
}

h3 {
    color: #191970;
    font-family: SansSerif,sans-serif
}

.sisu {
    background-color: azure;
    max-width: 1000px;
    min-width: 600px;
    margin:auto;
}


.menu {
    position: fixed;
    top:0;
    width:100%;
    background-color: navy;
    list-style-type: none;
    margin:0;
    max-width: 1000px;
    min-width: 600px;
    padding: 0;
    overflow: hidden;
    font-family: SansSerif, sans-serif;
}

.menu_link {
    float: left;
    color: azure;
    border-right: 1px solid azure;
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-family: SansSerif, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.menu_link:hover {
    text-decoration: underline;
    background-color: silver;
}

.lingid {
    color: darkgreen;
}

.lingid:hover {
    font-weight: bold;
    color: dimgrey;
}

.sisu_tekst {
    font-size: 14px;
    font-family: SansSerif, sans-serif;
}

#tekst {
    color: maroon;
    font-size: 18px;
    font-family: SansSerif, sans-serif;
}

.pilt {
    border: double;
}

#validator_logo {
    border: none;
}
